body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(235, 213, 255);
  background: linear-gradient(
    90deg,
    rgba(235, 213, 255, 1) 0%,
    rgba(10, 43, 105, 1) 0%,
    rgba(12, 70, 180, 1) 100%
  );
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.centred-item {
  font-size: calc(10px + 2vmin);
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centred-item p {
  font-size: large;
  max-width: 500px;
  margin: 10px;
}
